<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About</title>
    </head>
    <body>
        <h1>About Me</h1>
        <p>My name Hermes. I leave in France. I'm a successful man. I'm rich. I have a lovely wife, lovely children. I bought a nice car. And you ? What's your name ?</p>
        
        <form action="{{ url_for('hello') }}" method="get">
            <input type="text" name="name" placeholder="Your name">
            <input type="submit" value="Send">
        </form>
    </body>
</html>